<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center">
        <h2>Contul dumneavoastră a fost creat cu succes!</h2>
        <p>Puteți să vă conectați folosind credențialele contului Dvs</p>
        <hr/>
        <p>Vă mulțumim!</p>
    </div>
</div>