@{
    ViewData["Title"] = "Home Page";
}

<!--<div class="text-center">-->
@* <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
<!--<div>
        <h1> Susține cauzele de caritate prin intermediul artștilor preferați!</h1>
    </div>
</div>-->
@* https://codepen.io/P1N2O/pen/pyBNzX background*@

<body >
    <div class="d-flex flex-column justify-content-center w-100 h-100">

        <div @*class="d-flex flex-column justify-content-center align-items-center"*@>
            <h1 class="fw-light text-white m-0 text-center">Susține cauze de caritate prin intermediul artștilor preferați!</h1>
        </div>
    </div>
</body>

